* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title_main {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #000000;
    margin-top: 60px;
}

.main_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 25px;
    margin-bottom: 65px;
}

.show {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;

    width: 200px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.black {
    background: #000000;
    color: #FFFFFF;
}

.show:hover {
    background: #000000;
    transform: scale(1.05);
    color: #FFFFFF;
}

.show:active {
    background-color: #FFFFFF;
    transform: scale(0.95);
    color: #000000;
}

.catalog {
    width: 280px;
    height: 405px;
    border: 2px solid #000000;
}

img {
    height: 125px;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: center;
    gap: 20px 20px;
    margin-bottom: 100px;
}

.box_img {
    width: 275px;
    height: 160px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_box {
    height: 242px;
    background-color: #000000;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.description{
    height: 60px;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-top: 3px;
    margin-bottom: 2px;
    color: rgba(255, 255, 255, 0.56);
    overflow-y: scroll;
}

.description::-webkit-scrollbar {
	display: none;
}

.description_img {
    height: 14.67px;
}

.bottom_div {
    display: flex;
    gap: 20px;
}

.box_p{
    display: flex;
    gap: 5px; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

    
}

.saved {
    width: 227.5px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 10px;
    transition: 300ms;
    cursor: pointer;
}

.btn_text {
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.saved:hover {
    background: rgba(121, 121, 121, 0.605);
    transform: scale(1.05);
    border: 1px solid #FFFFFF;
}

.btn_active {
    background-color: #1F86FF;
}